body {
    grid-template-columns: 1fr repeat(12, minmax(auto, 4.2rem)) 1fr;
    grid-template-rows: 7.8rem 20rem 5rem auto;
    background-color: #ffffff;
}

.Register-Link-Text {
    font-size: 60px;
    text-align: center;
}

.Login-Link-Text {
    text-align: center;
}

.post-container {
    box-sizing: border-box;
    border: solid #dfe3ee 2px;
    padding: 5px;
    grid-column: 3 / span 10;
    border-radius: 10px;
    margin: 10px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.post-div {
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.comment-div {
    word-wrap: break-word;
    box-sizing: border-box;
    border: solid #f7f7f7 2px;
    position: relative;
    flex: 1 0 auto;
    margin: 5px;
    padding: 15px;
    border-radius: 30px;
    background-color: #f7f7f7;
    display: inline-block;
    max-width: 100%;
    
}

.add-comment-div {
    position: relative;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.add-post-div {
    position: relative;
    margin: auto;
    width: 50%;
}

#post-text {
    position: relative;
    width: 500px;
}

.post-pic-div {
    position: relative;
    width: 100%;
    height: 80%;
    margin: auto;
}

.post-pic {
    position: relative;
    width: 100%;
}

.profile-pic-div {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic {
    width: 100%;
    height: auto;
}

.dislike-div-comment {
    position: relative;
    width: 30px;
    height: 30px;
}

.dislike-button-comment {
    width: 100%;
    height: auto;
}